<a href="https://colab.research.google.com/github/Maya-Baria/Jupyter_Notebook/blob/main/Python_Data_Structure_Assignment_Day_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

💫 `immutable` => `can't be changed` <br>
💫 `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‘a’, print the value of a and type(a).

In [1]:
# create empty list, name it 'a'
a = []

In [2]:
# print the value of a

print(a)

[]

In [3]:
# print the type of a
type(a)

list

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [5]:
languages = ['R','Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [6]:
len(languages)

5

Using for loop iterate and print all the elements in the list

In [9]:
for i in range(len(languages)):
  if i < len(languages):
    print(languages[i])

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [10]:
temp = languages[1]
temp

'Python'

Print the value of temp and type(temp)

In [11]:
print(temp)

Python

In [12]:
type(temp)

str

Append the element 'Java' in the list

In [17]:
languages.append('Java')

In [18]:
languages

['R', 'Python', 'SAS', 'Scala', 42, 'Java']

Remove the element 42 from the list and print the list

In [20]:
languages.remove(42)
languages

['R', 'Python', 'SAS', 'Scala', 'Java']

### Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

In [22]:
colors = ['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [23]:
colors.append('Black')
colors

['Red', 'Blue', 'White', 'Black']

Append the color 'Orange' to second position (index=1) and print the list

In [24]:
colors.insert(1, 'Orange')
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Print the list

In [25]:
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [26]:
colors2 = ['Grey', 'Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [27]:
colors.extend(colors2)

Print len of colors and its elements

In [29]:
print(colors)
print(len(colors))

['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']
7

Sort the list and print it.

In [34]:
colors.sort()
print(colors)

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

### Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

In [35]:
sent = "Coronavirus Caused Lockdowns Around The World"

Use split function to convert the string into a list of words and save it in variable words and print the same

In [40]:
words = sent.split(' ')
words

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World']

Convert each word in the list to lower case and store it in variable words_lower.
Print words_lower

In [43]:
words_lower = [word.lower() for word in words]
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world']

Check whether ‘country’ is in the list

In [44]:
'country' in words_lower

False

Remove the element ‘the’ from the list and print the list.

In [45]:

words_lower.remove('the')
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'world']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [47]:
x4 = words_lower[0:4]

In [48]:
print (x4)

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [52]:
join_words = ' '.join(words)
print(join_words)

Coronavirus Caused Lockdowns Around The World

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [56]:
stud_grades = {'A','A','B','C','C','F'}

Print the len of stud_grades

In [57]:
print(stud_grades)

len(stud_grades)

{'B', 'A', 'C', 'F'}

4

Create a new variable, stud_grades_set = set(stud_grades)

In [58]:
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [59]:
print(stud_grades_set)

{'B', 'A', 'C', 'F'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [61]:
print(stud_grades_set)
type(stud_grades_set)

print(stud_grades)
type(stud_grades)

{'B', 'A', 'C', 'F'}
{'B', 'A', 'C', 'F'}

set

Add a new element ‘G’ to stud_grades_set

In [62]:
stud_grades_set.add('G')

Add element 'F' to stud_grades_set. and print it.

In [63]:
stud_grades_set.add('F')
print(stud_grades_set)

{'B', 'A', 'G', 'C', 'F'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [64]:
stud_grades_set.remove('F')

Print the elements and the length of stud_grades_set

In [65]:
print(stud_grades_set)
len(stud_grades_set)

{'B', 'A', 'G', 'C'}

4

### Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

In [66]:
colors = ['red', 'blue', 'orange']
fruits = ['orange', 'grapes', 'apples']

Print color and fruits

In [67]:
print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [68]:

colors_set = set(['red', 'blue', 'orange'])
fruits_set = set(['orange', 'grapes', 'apples'])

print(colors_set)
print(fruits_set)

{'red', 'blue', 'orange'}
{'orange', 'grapes', 'apples'}

Find the union of both the sets.

In [69]:
colors_set.union(fruits_set)

{'apples', 'blue', 'grapes', 'orange', 'red'}

Find the intersection of both the sets

In [70]:
colors_set.intersection(fruits_set)

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [71]:
fruits_set.difference(colors_set)

{'apples', 'grapes'}

## TUPLES

### Create temp = [17, ’Virat’, 50.0]

In [72]:
temp = (17, 'Virat', 50.0)
type(temp)

tuple

Iterate through temp and print all the items in temp

In [74]:
for i in temp:
    print(i)

17
Virat
50.0

replace first element with 11 in temp

In [79]:
temp_list = list(temp)
temp_list[0] = 11
print(temp_list)

[11, 'Virat', 50.0]

Set temp1 = tuple(temp)

In [83]:
temp1 = tuple(temp_list)

Iterate through temp1 and print all the items in temp1.

In [84]:
for i in temp1:
  print(i)

11
Virat
50.0

replace first element with 17 in temp1

In [89]:
temp1_list = list(temp1)
temp1_list[0] = 17

temp1_tuple = tuple(temp1_list)
print(temp1_tuple)

(17, 'Virat', 50.0)

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [90]:
city = ("Bangalore", 28.9949521, 72)

Print first element of city

In [92]:
print(city[0])

Bangalore

Create city2 = (‘Chennai’, 30.01, 74)

In [93]:
city2 = ('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [94]:
cities = (city, city2)

Print cities

In [ ]:
print(cities)

Print type of first element in cities

In [95]:
print(cities[0])

('Bangalore', 28.9949521, 72)

print the type of cities

In [96]:
type(cities)

tuple

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [97]:
d = {"actor":"amir", "animal":"cat", "earth":2, "list":[23,32,12]}

Print the value of d[0]

In [98]:
d[0]

KeyError: 0

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [100]:
actor = d['actor']

Print the type of actor

In [101]:
print(actor)
type(actor)

amir

str

Store the value of d[‘list’] in new variable List.

In [102]:
List = d['list']

Print the type of List.

In [103]:
print(List)
type(List)

[23, 32, 12]

list

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [104]:
d1 = { 'singer' : 'Kr$na' , 'album': 'Still here', 'genre' : 'hip-hop'}

Merge d1 into d.

In [105]:
d.update(d1)

print d

In [106]:
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [109]:
print(d.keys())

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [110]:
print(d.values())

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [111]:
for key, value in d.items():
    print(f"({key} ----> {value})")

(actor ----> amir)
(animal ----> cat)
(earth ----> 2)
(list ----> [23, 32, 12])
(singer ----> Kr$na)
(album ----> Still here)
(genre ----> hip-hop)

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [113]:
sent = "Coronavirus Caused Lockdowns Around The World"
char_count = {}

for i in sent:
  if i in char_count:
    char_count[i] += 1
  else:
      char_count[i] = 1

print(char_count)

{'C': 2, 'o': 6, 'r': 4, 'n': 3, 'a': 2, 'v': 1, 'i': 1, 'u': 3, 's': 3, ' ': 5, 'e': 2, 'd': 4, 'L': 1, 'c': 1, 'k': 1, 'w': 1, 'A': 1, 'T': 1, 'h': 1, 'W': 1, 'l': 1}